OKcasasWEB/src/conf/xml-resources/web-service-references/WS_Credito/wsdl/localhost_14605/Servidor_WS/WS_Credito.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WS_Credito">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:14605/Servidor_WS/WS_Credito?xsd=1"/>
</xsd:schema>
</types>
<message name="SeguimientoClienteWS">
<part name="parameters" element="tns:SeguimientoClienteWS"/>
</message>
<message name="SeguimientoClienteWSResponse">
<part name="parameters" element="tns:SeguimientoClienteWSResponse"/>
</message>
<message name="SeguimientoWS">
<part name="parameters" element="tns:SeguimientoWS"/>
</message>
<message name="SeguimientoWSResponse">
<part name="parameters" element="tns:SeguimientoWSResponse"/>
</message>
<message name="Credito">
<part name="parameters" element="tns:Credito"/>
</message>
<message name="CreditoResponse">
<part name="parameters" element="tns:CreditoResponse"/>
</message>
<message name="Disponibilidad">
<part name="parameters" element="tns:Disponibilidad"/>
</message>
<message name="DisponibilidadResponse">
<part name="parameters" element="tns:DisponibilidadResponse"/>
</message>
<portType name="WS_Credito">
<operation name="SeguimientoClienteWS">
<input wsam:Action="http://ws/WS_Credito/SeguimientoClienteWSRequest" message="tns:SeguimientoClienteWS"/>
<output wsam:Action="http://ws/WS_Credito/SeguimientoClienteWSResponse" message="tns:SeguimientoClienteWSResponse"/>
</operation>
<operation name="SeguimientoWS">
<input wsam:Action="http://ws/WS_Credito/SeguimientoWSRequest" message="tns:SeguimientoWS"/>
<output wsam:Action="http://ws/WS_Credito/SeguimientoWSResponse" message="tns:SeguimientoWSResponse"/>
</operation>
<operation name="Credito">
<input wsam:Action="http://ws/WS_Credito/CreditoRequest" message="tns:Credito"/>
<output wsam:Action="http://ws/WS_Credito/CreditoResponse" message="tns:CreditoResponse"/>
</operation>
<operation name="Disponibilidad">
<input wsam:Action="http://ws/WS_Credito/DisponibilidadRequest" message="tns:Disponibilidad"/>
<output wsam:Action="http://ws/WS_Credito/DisponibilidadResponse" message="tns:DisponibilidadResponse"/>
</operation>
</portType>
<binding name="WS_CreditoPortBinding" type="tns:WS_Credito">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SeguimientoClienteWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SeguimientoWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Credito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Disponibilidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_Credito">
<port name="WS_CreditoPort" binding="tns:WS_CreditoPortBinding">
<soap:address location="http://localhost:14605/Servidor_WS/WS_Credito"/>
</port>
</service>
</definitions>